html {
    background-color: rgba(18, 81, 218, 0.705);
    font-size: 20px;
  }

.textcentral {
  display: flex;
}

  ul {
    background: red;
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }